@media screen and (max-width: 1200px) {
  nav {
    width: 100px;
    transition: 0.5;
  }
  .menu-top h1 {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .menu-list li {
    text-align: center;
  }
  .menu-list i {
    font-size: 1.6rem;
    padding-right: 5px;
  }
  .menu-list li a span {
    display: none;
  }
  .main-home {
    left: 170px;
  }
  .today_wrap {
    margin-right: 30px;
  }
}
@media screen and (max-width: 1000px) {
  .main-home {
    flex-direction: column;
    align-items: center;
  }
  .today_wrap {
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 600px) {
  body {
  }
  nav {
    display: none;
  }
  .main-home {
    left: 50px;
    align-items: center;
  }
  .today_wrap {
    margin: 40px;
  }
  .todo {
    margin-bottom: 40px;
  }
}
